html,
body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    height: 100%;
}

#app * {
    font-family: sans-serif;
}

.app-left-container {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.add-note-btn {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.add-note-btn:hover {
    background: #00af8c;
}

.notes-container {
    cursor: pointer;
}

.notes-container--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.note-small-title,
.note-small-date {
    padding: 10px;
}

.note-small-title {
    font-size: 1.2em;
}

.note-small-content {
    padding: 0 10px;
}

.note-small-date {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.app-right-container {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.note-title,
.note-content {
    border: none;
    outline: none;
    width: 100%;
}

.note-title {
    font-size: 3em;
    font-weight: bold;
}

.note-content {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}